.App {
  font-family: sans-serif;
  text-align: center;
}
.btn{
width: 20px;
height: 10px;
border-radius: 20px;
margin: 0;
}
.btn .danger {
  background-color: red;
  color: #fff;
}
.btn .primary {
  background-color: blue;
  color: #fff;
}
